---
import MainLayout from "./layouts/MainLayout.astro";
import "./styles/globals.css";

const title = "Pokemon Static | Home";
---

<MainLayout title={title}>
  <h1 class="text-3xl">Astro</h1>
</MainLayout>
